.gitignore
.env.local
old/dataset/4_codes/.env.local
old/dataset/0_raw/nat/daijirin_4ed/
old/dataset/0_raw/nat/digital_daijisen/
old/dataset/0_raw/nat/kojien_7ed/
old/dataset/0_raw/nat/seisenban_nikkoku/
old/dataset/0_raw/nat/standard_kor_dic_20250306/
old/dataset/1_preprocess/nat/*.pkl
old/dataset/3_questions/nat/old/
old/analysis/experiments/understanding/old/
old/analysis/experiments/understanding/word_meaning_pair_matching/understanding-*.json
old/analysis/experiments/understanding/ipa_word_meaning_pair_matching/ipa*.json
old/analysis/experiments/understanding/non_en_word_meaning_pair_matching/non_en*.json
old/analysis/experiments/understanding/non_en_word_meaning_pair_matching_no_dialogue/non_en*.json
old/analysis/experiments/understanding/ipa_word_meaning_pair_matching_no_dialogue/ipa*.json
old/analysis/experiments/understanding/word_meaning_pair_matching_no_dialogue/masked*.json
old/analysis/experiments/understanding/word_meaning_pair_matching_no_dialogue/unmasked*.json
data/processed/nat/clustering/*.pkl
data/raw/dictionaries/
results/experiments/understanding/**/[^a]*.json
data/processed/nat/tts/
data/processed/nat/semantic_dimension/semantic_dimension_gt_*.json
audio-flamingo/
results/experiments/word_meaning_matching/**/[^a]*.json
results/experiments/word_meaning_matching_without_auditory_impression/**/[^a]*.json
results/experiments/semantic_dimension/**/[^a]*.json
data/prompts/semantic_dimension/
data/prompts/word_meaning_matching_without_auditory_impression/
data/processed/nat/tts/
src/analysis/heatmap/plots/
