.gitignore
.env.local
dataset/4_codes/.env.local
dataset/0_raw/nat/daijirin_4ed/
dataset/0_raw/nat/digital_daijisen/
dataset/0_raw/nat/kojien_7ed/
dataset/0_raw/nat/seisenban_nikkoku/
dataset/1_preprocess/nat/*.pkl
dataset/3_questions/nat/old/
analysis/experiments/understanding/old/
analysis/experiments/understanding/word_meaning_pair_matching/understanding-*.json
analysis/experiments/understanding/ipa_word_meaning_pair_matching/ipa*.json
analysis/experiments/understanding/non_en_word_meaning_pair_matching/non_en*.json
analysis/experiments/understanding/non_en_word_meaning_pair_matching_no_dialogue/non_en*.json
analysis/experiments/understanding/ipa_word_meaning_pair_matching_no_dialogue/ipa*.json